h1{
    font-size: small;
}
P2{
    padding-left: 1%;
    padding-right: 1%;
}
label{
    padding-right: 1%;
}
p3{
    padding-right: 1%;
}
p4{
    padding-right: 1%;
}
p5{
    padding-right: 1%;
}
p6{
    padding-right: 1%;
}
p7{
    padding-right: 1%;
}
p8{
    padding-right: 1%;
}
p9{
    padding-right: 1%;
}
p10{
    padding-left:12%;
}
p11{
    padding-left: 1%;
    padding-right: 1%;
}
p12{
    padding-right: 1%;
}
p14{
    padding-right: 1%;
    padding-left: 1%;
}
p15{
    padding-right: 1%;
}
p16{
    padding-left: 1%;
    padding-right: 1%;
}
p17{
    padding-right: 5%;
}
p18{
    padding-right: 5%;
}
p19{
    padding-right: 4%;
}